     <footer class="footer">
        <div class="footer-container">
          <div class="footer-column">
            <h6 class="footer-heading">ColoShop</h6>
            <p class="footer-text">Shop with ColoShop for the best deals! Happy shopping!</p>
          </div>
          <div class="footer-column">
            <h6 class="footer-heading">About Us</h6>
            <ul class="footer-links">
              <li><a routerLink="/about">About</a></li>
              <li><a routerLink="/contact">Contact</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h6 class="footer-heading">Address</h6>
            <p><mat-icon>location_on</mat-icon> 122008, Gurugram, Haryana</p>
            <p><mat-icon> email</mat-icon> info@coloshop.com</p>
            <p><mat-icon> phone</mat-icon> +91 8081895569</p>
          </div>
        </div>
        <div class="footer-bottom">
          <p class="footer-text">© 2023 ColoShop.com</p>
        </div>
      </footer>
      