     <footer class="footer">
        <div class="footer-container">
          <div class="footer-column">
            <h6 class="footer-heading">ColoShop</h6>
            <p class="footer-text">An ecommerce website that helps you shop products of your choice.</p>
          </div>
          <div class="footer-column">
            <h6 class="footer-heading">About Us</h6>
            <ul class="footer-links">
              <li><a routerLink="/about">About</a></li>
              <li><a routerLink="/contact">Contact</a></li>
            </ul>
          </div>
          <div class="footer-column">
            <h6 class="footer-heading">Address</h6>
            <p><i class="fas fa-address-card"></i> 122008, Gurugram, Haryana</p>
            <p><i class="fas fa-envelope"></i> info@coloshop.com</p>
            <p><i class="fas fa-phone"></i> +91 8081895569</p>
          </div>
        </div>
        <div class="footer-bottom">
          <p class="footer-text">© 2023 ColoShop.com</p>
        </div>
      </footer>
      