<div class="global">
  <div class="center">
    <div class="form">
      <form [formGroup]="userForm">
        <h1>User Profile Update✏️</h1>
        <div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input
              type="text"
              formControlName="name"
              placeholder="Ex. Mohit"
              matInput
            />
            <mat-error *ngIf="userForm.get('name').invalid && userForm.get('name').dirty">Name is required</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input
              type="email"
              formControlName="email"
              placeholder="Ex. mohit@example.com"
              matInput
            />
            <mat-error *ngIf="userForm.get('email').invalid && userForm.get('email').dirty">Invalid email format</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Address</mat-label>
            <input
              type="text"
              formControlName="address"
              placeholder="Ex. Jhansi"
              matInput
            />
            <mat-error *ngIf="userForm.get('address').invalid && userForm.get('address').dirty">Address is required</mat-error>
          </mat-form-field>
        </div>
        <div>
          <button
            type="button"
            mat-raised-button
            (click)="onSubmit()"
            color="accent"
            [disabled]="userForm.invalid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>





<!-- 
<div class="global">
  <div class="center">
    <div class="form">
      <form [formGroup]="userForm">
        <h1>User Profile Update✏️</h1>
        <div>
          <span
            style="color: red"
            *ngIf="
              isSubmitted &&
              (userForm.get('email').invalid ||
                userForm.get('name').invalid ||
                userForm.get('address').invalid)
            "
          >Name, Email, and Address are required</span>
        </div>
        <div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input
              type="text"
              formControlName="name"
              placeholder="Ex. Mohit"
              matInput
            />
            <mat-error *ngIf="userForm.get('name').invalid && userForm.get('name').dirty">Name is required</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input
              type="email"
              formControlName="email"
              placeholder="Ex. mohit@example.com"
              matInput
              [readonly]="isEmailDisabled"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="toggleEmailField()"
              *ngIf="isEmailDisabled"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <mat-error *ngIf="userForm.get('email').invalid && userForm.get('email').dirty">Invalid email format</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input
              type="password"
              formControlName="password"
              placeholder="Enter new password"
              matInput
              [readonly]="isPasswordDisabled"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="togglePasswordField()"
            >
              <mat-icon>{{ isPasswordEditEnabled ? 'save' : 'edit' }}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Address</mat-label>
            <input
              type="text"
              formControlName="address"
              placeholder="Ex. Jhansi"
              matInput
            />
            <mat-error *ngIf="userForm.get('address').invalid && userForm.get('address').dirty">Address is required</mat-error>
          </mat-form-field>
        </div>
        <div>
          <button
            type="button"
            mat-raised-button
            (click)="onSubmit()"
            color="accent"
            [disabled]="userForm.invalid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->
