.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 120px;
}

.table-container {
  max-width: 800px;
  margin: 0 auto;
  overflow-x: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

@media (max-width: 767px) {
  .table-container {
    overflow-x: scroll;
  }
  .btn{
    margin-top: 180px;
  }

  table {
    min-width: 600px;
  }
}
