
.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 100px;
  margin-left: 10px;
}

.btn-icon {

  background: #f5f5f5;
}

.btn-new{
  background: linear-gradient(45deg, #007bff, #00c6ff);
}

.table-container {
  max-width: 800px;
  margin: 0 auto;
  overflow-x: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
@media (min-width: 800px) {
  th.mat-header-cell,
  td.mat-cell {
    height: 80px;
  }
}

@media (min-width: 1200px) {
  th.mat-header-cell,
  td.mat-cell {
    height: 120px;
  }
}

@media (max-width: 767px) {
  .table-container {
    overflow-x: scroll;
  }

  table {
    min-width: 600px;
  }
  .btn {
    margin-top: 180px;

  }
}
