<!-- <div class="global">
    <div class="center">
      <div class="form">
        <form [formGroup]="forgotPasswordForm" *ngIf="!resetPassword">
  
          <div *ngIf="isSubmitted && emailNotFound">
            <span style="color: red">Email not found. Please enter a registered email address.</span>
          </div>
  
          <div *ngIf="isSubmitted && securityAnswerIncorrect">
            <span style="color: red">Security answer is incorrect.</span>
          </div>
  
          <div>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email">
            </mat-form-field>
          </div>
  
          <div>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Security Answer</mat-label>
              <input matInput type="text" formControlName="securityAnswer">
            </mat-form-field>
          </div>
  
          <div class="btn">
            <button mat-raised-button color="accent" (click)="onSubmit()">Submit</button>
          </div>
  
        </form>
  
        <form [formGroup]="newPasswordForm" *ngIf="resetPassword">
  
          <div>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>New Password</mat-label>
              <input matInput type="password" formControlName="password">
            </mat-form-field>
          </div>
  
          <div>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Confirm Password</mat-label>
              <input matInput type="password" formControlName="confirmPassword">
            </mat-form-field>
          </div>
  
          <div *ngIf="newPasswordForm.hasError('passwordMismatch')">
            <span style="color: red">Passwords do not match.</span>
          </div>
  
          <div class="btn">
            <button mat-raised-button color="accent" (click)="onUpdatePassword()">Update Password</button>
          </div>
  
        </form>
      </div>
    </div>
  </div>
   -->




   <div class="global">
    <div class="center">
      <div class="form">
        <form [formGroup]="forgotPasswordForm" *ngIf="!resetPassword">
  
          <div *ngIf="isSubmitted && emailNotFound">
            <span style="color: red">Email not found. Please enter a registered email address.</span>
          </div>
  
          <div *ngIf="isSubmitted && securityAnswerIncorrect">
            <span style="color: red">Security answer is incorrect.</span>
          </div>
  
          <div>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email">
            </mat-form-field>
          </div>
  
          <div>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Security Answer</mat-label>
              <input matInput type="text" formControlName="securityAnswer">
            </mat-form-field>
          </div>
  
          <div class="btn">
            <button mat-raised-button color="accent" (click)="onSubmit()">Submit</button>
          </div>
  
        </form>
  
        <form [formGroup]="newPasswordForm" *ngIf="resetPassword">
  
          <div>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>New Password</mat-label>
              <input matInput type="password" formControlName="password">
            </mat-form-field>
          </div>
  
          <div>
            <mat-form-field class="example-form-field" appearance="fill">
              <mat-label>Confirm Password</mat-label>
              <input matInput type="password" formControlName="confirmPassword">
            </mat-form-field>
          </div>
  
          <div *ngIf="newPasswordForm.hasError('passwordMismatch')">
            <span style="color: red">Passwords do not match.</span>
          </div>
  
          <div class="btn">
            <button mat-raised-button color="accent" (click)="onUpdatePassword()">Update Password</button>
          </div>
  
        </form>
      </div>
    </div>
  </div>
  