<div class="banner"></div>

<div class="container">
  <mat-form-field appearance="fill" class="category-class">
    <mat-label>Category</mat-label>
    <mat-select
      (selectionChange)="changeClient($event.value)"
      panelClass="custom-dropdown"
    >
      <mat-option value="All">All</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category?.name">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <form [formGroup]="searchForm" class="search-input">
    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Items" formControlName="term" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Already know what you're looking for?</mat-hint>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      (click)="onSubmit()"
      class="search-btn"
    >
      Search
    </button>
  </form>
</div>
<div class="card-container">
  <ng-container *ngIf="showList; else filteredItems" #filteredItems>
    <div *ngFor="let item of pagedItems" class="card-wrapper">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle>₹ {{ item.price }}</mat-card-subtitle>
          <mat-card-subtitle>
            {{ item.category?.name }}
            <mat-icon>{{ item.category?.categoryType }}</mat-icon>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="item.image" alt="image" />
        <mat-card-actions>
          <button
            mat-button
            color="primary"
            (click)="forwardToSingleItem(item._id)"
          >
            See Details
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>

  <ng-template #filteredItems>
    <div
      *ngFor="let item of pagedItems"
      class="card-wrapper"
      [hidden]="item.category?.name !== filter"
    >
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle>{{ item.price }}</mat-card-subtitle>
          <mat-card-subtitle>
            {{ item.category?.name }}
            <mat-icon>{{ item.category?.categoryType }}</mat-icon>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="item.image" alt="image" />
        <mat-card-actions>
          <button
            mat-button
            color="primary"
            (click)="forwardToSingleItem(item._id)"
          >
            See Details
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-template>
</div>

<mat-paginator
  *ngIf="searchLaunch ? searchDataFiltered?.length : newArrivalItems.length"
  [length]="searchLaunch ? searchDataFiltered.length : newArrivalItems.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="[8, 16]"
  (page)="onPageChange($event)"
></mat-paginator>
<app-carousal></app-carousal>
