.example-card {
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  background-color: #f5f5f5;
}

.example-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.mat-card-image {
  height: 200px;
  object-fit: cover;
}

.mat-card-title,
.mat-card-subtitle {
  word-wrap: break-word;
  margin-bottom: 5px;
}

.btn {
  background-color: #ffd740;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card-wrapper {
  flex: 0 0 calc(25% - 20px);
  max-width: calc(25% - 20px);
  margin-bottom: 20px;
}

.card-wrapper .mat-card {
  width: 85%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-wrapper .mat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.dropdown {
  margin-bottom: 20px;
  margin-top: 100px;
}

.category {
  margin-bottom: 100px;
  margin-top: 100px;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  display: flex;
  gap: 10px;
}

.mat-paginator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.mat-option {
  padding: 15px;
  margin-top: 10px;
  line-height: 4rem !important;
  height: 4rem !important;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 4px;
  margin: 100px;
  margin-top: 40px;
}

.mat-focus-indicator {
  margin-top: -25px;
}

.category,
.search-form {
  flex: 1;
  margin-right: 10px;
}

.search-input {
  display: flex;
  align-items: center;
}

.mat-form-field {
  margin-bottom: 10px;
}

button {
  margin-left: 10px;
}

.category,
.search-form {
  flex: 1;
  margin-right: 10px;
}

.search-input {
  display: flex;
  align-items: center;
}

.mat-form-field {
  margin-bottom: 10px;
}

button {
  margin-left: 10px;
}

.custom-dropdown .cdk-overlay-pane {
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.custom-dropdown .mat-option {
  padding: 8px 16px;
}

.custom-dropdown .mat-option:hover {
  background-color: #f5f5f5;
}

.custom-dropdown .mat-option.mat-selected {
  background-color: #e0e0e0;
}

.dropdown {
  margin: 5px;
}

.example-card img {
  width: 90%;
  height: 220px;
  border-right: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.mat-slider {
  margin-top: 5px;
}

.price-container {
  display: flex;
  flex-direction: column;
}

.original-price {
  text-decoration: line-through;
  color: red;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.discounted-price {
  color: green;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.example-header-text {
  background-color: #009688;
  padding: 10px 5px;
}

.example-card .example-header-text {
  background-color: #f44336;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1023px) {
  .card-wrapper {
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
  }
}

@media (max-width: 1000px) {
  .card-wrapper {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
  .container {
    margin-bottom: 50px;
    flex-direction: column;
  }

  .category,
  .search-form {
    flex: none;
    width: 100%;
    margin-bottom: 10px;
  }

  .category-class {
    margin-left: 1%;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 20px;
    margin-bottom: 50px;
  }
}

@media (max-width: 479px) {
  .card-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .container {
    margin: 5px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1500px) {
  .banner {
    height: 700px;
  }

  .banner h1 {
    font-size: 28px;
  }
}

@media screen and (min-width: 1700px) {
  .banner {
    height: 800px;
  }

  .banner h1 {
    font-size: 28px;
  }
}

@media screen and (min-width: 2000px) {
  .banner {
    height: 900px;
  }

  .banner h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    height: 300px;
    margin-top: 140px;
  }

  .banner h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  .banner {
    height: 200px;
  }

  .banner h1 {
    font-size: 28px;
  }
}
