table {
  width: 75%;
}

img {
  height: 150px;
  width: 150px;
}

#center {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.btn {
  text-align: center;
  margin: 15px;
}

button {
  background: linear-gradient(45deg, #007bff, #00c6ff);
}

.back {
  margin-top: 100px;
  margin-left: 10px;
  background: linear-gradient(45deg, #007bff, #00c6ff);
}


.mat-table-container {
  max-width: 100%;
  overflow-x: auto;
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 40px;
}


.name-column {
  width: 200px;
}


.category-column {
  word-break: break-word;
  width: 120px;
}

@media (max-width:767px) {
  .back {
    margin-top: 180px;
  }

  img {
    width: 100px;
    height: 100px;
  }

  .name-column {
    width: 60px;
  }

  .category-column {
    width: auto;
  }
}

@media (max-width: 500px) {
  .mat-table-container table {
    width: 100%;
    table-layout: fixed;
  }

  img {
    height: 60px;
    width: 60px;
  }

  table {
    font-size: 8px;
  }

}

@media(max-width: 330px) {
  img {
    height: 40px;
    width: 40px;
  }
}