<!-- <div class="global">
    <div class="L1">
        <div class="logo-position">
            <img src="assets/images/logo.png" height="200px" width="200px">
        </div>
        <div class="cart-position">
            <img class="advance" src="assets/images/cart.png" height="150px" width="150px">
        </div>
        <div class="creds">
            <a routerLink="/users/login" *ngIf="!getLoggedStatus()">Login</a>
        </div>
        <div>
            <a routerLink="/users/register" *ngIf="!getLoggedStatus()">Register</a>
        </div>
        <div>
            <a routerLink="/users/login" (click)="logout()" *ngIf="getLoggedStatus()">Logout</a>
        </div>
        <div class="icons">
            <button mat-icon-button color="primary" routerLink="/">
                <mat-icon>home</mat-icon>
            </button>
        
            <button class="left-space" mat-icon-button color="primary" routerLink="/users/signup">
                <mat-icon>person_outline</mat-icon>
            </button>
    
            <button routerLink="/cart" class="left-space" mat-icon-button color="accent">
                <mat-icon [matBadge]="cartCount" matBadgeColor="warn" >add_shopping_cart</mat-icon>
            </button>
        </div>
    </div>
    
    <div class="L2">
        <div>
            <a routerLink="/">Items</a>
        </div>
        <div>
            <a routerLink="/categories/list" *ngIf="userIsAdmin">Categories</a>
        </div>
        <div>
            <a routerLink="/users/list" *ngIf="userIsAdmin" >Users</a>
        </div>
        <div>
            <a routerLink="/items/list" *ngIf="userIsAdmin" >Manage Items</a>
        </div>
        
    </div>
    </div>
    
    <div class="foxy">
    
        
    </div> -->



    <!-- <header class="navbar">
        <div class="navbar-brand">
          <img src="assets/images/logo.png" height="50px" width="50px" alt="Logo">
        </div>
      
        <nav class="navbar-menu">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a routerLink="/items" class="nav-link">Items</a>
            </li>
            <li class="nav-item" *ngIf="userIsAdmin">
              <a routerLink="/categories/list" class="nav-link">Categories</a>
            </li>
            <li class="nav-item" *ngIf="userIsAdmin">
              <a routerLink="/users/list" class="nav-link">Users</a>
            </li>
            <li class="nav-item" *ngIf="userIsAdmin">
              <a routerLink="/items/list" class="nav-link">Manage Items</a>
            </li>
          </ul>
        </nav>
      
        <div class="navbar-auth">
          <a routerLink="/users/login" *ngIf="!getLoggedStatus()" class="nav-link">Login</a>
          <a routerLink="/users/register" *ngIf="!getLoggedStatus()" class="nav-link">Register</a>
          <a routerLink="/users/login" (click)="logout()" *ngIf="getLoggedStatus()" class="nav-link">Logout</a>
        </div>
      
        <div class="navbar-cart">
          <a routerLink="/cart" class="nav-link">
            <img src="assets/images/cart.png" height="30px" width="30px" alt="Cart">
            <span class="cart-badge" [matBadge]="cartCount" matBadgeColor="warn"></span>
          </a>
        </div>
      </header> -->
      



      <!-- <header class="navbar">
        <div class="navbar-brand">
          <h2>ColoShop</h2>
        </div>
      
        <input type="checkbox" id="navbar-toggle" class="navbar-toggle">
        <label for="navbar-toggle" class="navbar-toggle-label">
          <span></span>
          <span></span>
          <span></span>
        </label>
      
        <nav class="navbar-menu">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item" *ngIf="userIsAdmin">
              <a routerLink="/categories/list" class="nav-link">Categories</a>
            </li>
            <li class="nav-item" *ngIf="userIsAdmin">
              <a routerLink="/users/list" class="nav-link">Users</a>
            </li>
            <li class="nav-item" *ngIf="userIsAdmin">
              <a routerLink="/items/list" class="nav-link">Manage Items</a>
            </li>
          </ul>
        </nav>
      


        <div class="navbar-auth">
          <a routerLink="/users/login" *ngIf="!getLoggedStatus()" class="nav-link">Login</a>
          <a routerLink="/users/register" *ngIf="!getLoggedStatus()" class="nav-link">Register</a>
          <a routerLink="/users/login" (click)="logout()" *ngIf="getLoggedStatus()" class="nav-link">Logout</a>
          <span *ngIf="getLoggedStatus()" class="nav-link">Welcome, {{ userName }}</span>
        </div>
        
      
        <div class="navbar-cart">
          <a routerLink="/cart" class="nav-link">
            <img src="assets/images/cart.png" height="30px" width="30px" alt="Cart">
            <span class="cart-badge" [matBadge]="cartCount" matBadgeColor="warn"></span>
          </a>
        </div>
      </header>
    -->






    <header class="navbar">
      <div class="navbar-brand">
         <h2 class="logo"><a routerLink="/"><mat-icon>shopping_cart</mat-icon>ColoShop</a></h2>
      </div>
    
      <input type="checkbox" id="navbar-toggle" class="navbar-toggle">
      <label for="navbar-toggle" class="navbar-toggle-label">
        <span></span>
        <span></span>
        <span></span>
      </label>
    
      <nav class="navbar-menu">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item" *ngIf="userIsAdmin">
            <a routerLink="/categories/list" class="nav-link">Categories</a>
          </li>
          <li class="nav-item" *ngIf="userIsAdmin">
            <a routerLink="/users/list" class="nav-link">Users</a>
          </li>
          <li class="nav-item" *ngIf="userIsAdmin">
            <a routerLink="/items/list" class="nav-link">Manage Items</a>
          </li>
        </ul>
      </nav>
    
      <div class="navbar-auth">
        <a routerLink="/users/login" *ngIf="!getLoggedStatus()" class="nav-link">Login</a>
        <a routerLink="/users/register" *ngIf="!getLoggedStatus()" class="nav-link">Register</a>
        <a routerLink="/users/login" (click)="logout()" *ngIf="getLoggedStatus()" class="nav-link">Logout</a>
        <ng-container matColumnDef="delete">
          <span *ngIf="getLoggedStatus()" class="nav-link" (click)="openUserProfileModal(user)" class="nav-link user-profile"><mat-icon>account_circle</mat-icon>{{ userName }}</span>
        </ng-container>
        
        <!-- <span *ngIf="getLoggedStatus()" class="nav-link" (click)="openUserProfileModal(element)">{{ userName }}</span> -->
      </div>
    
      <div class="navbar-cart">
        <a routerLink="/cart" class="nav-link">
          <img src="assets/images/cart.png" height="30px" width="30px" alt="Cart">
          <span class="cart-badge" [matBadge]="cartCount" matBadgeColor="warn"></span>
        </a>
      </div>
    </header>
    