<button class="back" mat-raised-button color="primary" (click)="backToShop()">
  <mat-icon>keyboard_return</mat-icon>Back To Shop
</button>
<div class="previous-orders previous-orders-container">
  <div class="order" *ngFor="let order of previousOrders">
    <p class="order-info">User: {{ order.user?.name }}</p>
    <p class="order-info">Order ID: {{ order._id }}</p>
    <p class="order-info">Order Date: {{ order.timestamp | date:'medium' }}</p>
    <div class="order-items">
      <div class="cart-item" *ngFor="let cartItem of order.cartItems">
        <mat-card class="example-card">
          <mat-card-title-group>
            <mat-card-subtitle class="cart-item">{{
              cartItem.item.name
            }}</mat-card-subtitle>
            <mat-card-subtitle class="cart-item"
              >Unit Price: ₹{{ cartItem.item.price }}</mat-card-subtitle
            >
            <mat-card-subtitle class="cart-item"
              >Total Price: ₹{{
                cartItem.quantity * cartItem.item.price
              }}</mat-card-subtitle
            >
            <mat-card-subtitle class="cart-item"
              >Quantity: {{ cartItem.quantity }}</mat-card-subtitle
            >
            <img

              mat-card-lg-image
              [src]="cartItem.item.image"
            />
          </mat-card-title-group>
        </mat-card>
      </div>
    </div>
  </div>
</div>
