<div class="contact-container">
    <div class="contact-row">
      <div class="contact-col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3505.8774641993728!2d77.08036874962659!3d28.513334182378877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d195b3d2c83ab%3A0x3dedc435b1e10e51!2sGemini%20Solutions!5e0!3m2!1sen!2sin!4v1656553484184!5m2!1sen!2sin"
          width="98%" height="100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
      <div class="contact-col">
        <h1 class="contact-title">CONTACT US</h1>
        <p class="contact-info">
          For any queries and information about our products, feel free to contact us. We are available 24/7.
        </p>
        <div class="contact-details">
          <div class="contact-item">
            <span class="contact-icon"><mat-icon>mail_outline</mat-icon></span>
            <span class="contact-text">www.help@coloshop.com</span>
          </div>
          <div class="contact-item">
            <span class="contact-icon"><mat-icon>phone</mat-icon></span>
            <span class="contact-text">+91-8081895569</span>
          </div>
          <div class="contact-item">
            <span class="contact-icon"><mat-icon>support</mat-icon></span>
            <span class="contact-text">1800-0000-0000 (toll-free)</span>
          </div>
        </div>
      </div>
    </div>
  </div>