.back {
  margin-top: 120px;
  margin-left: 10px;
  background: linear-gradient(45deg, #007bff, #00c6ff);
}

.previous-orders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  margin-top: 75px;
  margin-bottom: 75px;
}

.order-info {
  font-weight: bold;
}

.previous-orders-container h2 {
  text-align: center;
}

.cart-item {
  font-weight: bolder;
  color: black;
}

.order {
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.mat-card {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .back {
    margin-top: 180px;
  }
}
