.previous-orders-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    margin-top: 100px;
    margin-bottom: 20px;
  }
  
  .previous-orders-container h2 {
    text-align: center;
  }

  .cart-item{
    font-weight: bolder;
    color: black;
  }

  .order {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
  }

  .mat-card{
    margin-bottom: 20px;
  }
  

@media (max-width:768px){
    .previous-orders-container{
        margin-top: 180px;
    }
}