.back {
    margin-bottom: 20px;
    margin-top: 100px;
    background: linear-gradient(45deg, #007bff, #00c6ff);
  }

  .cart-item{
    padding-right: 10px;
    /* font-weight: 200; */
    color: black;

  }
  .cart-item span{
    font-weight: bolder;
  }

  .example-card span{
    font-weight: bolder;
  }
  
  /* Global container */
  .global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* Cart items container */
  .cart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    
  }
  
  /* Cart item card style */
  .example-card {
    max-width: 400px;
    margin: 10px;
  }
  
  /* Shipping banner */
  .shipping-banner {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
  }
  
  /* Centered text */
  .centered {
    text-align: center;
  }
  

  
  /* Button container */
  .btn-valid {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Media query for small screens */
  @media (max-width: 767px) {
    .example-card {
      max-width: 90%;
    }
    .back{
      margin-top: 180px;
    }
  
  }
  





  .previous-orders-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    margin-top: 20px;
  }
  
  .previous-orders-container h2 {
    text-align: center;
  }
  
  .order {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
  }
  
  /* Rest of your existing CSS styles */
  

