$primary-color: #007bff;
$secondary-color: #00c6ff;

@mixin gradient-background($color1, $color2) {
  background: linear-gradient(45deg, $color1, $color2);
}

.back {
  margin-bottom: 20px;
  margin-top: 100px;
  margin-left: 10px;
  @include gradient-background($primary-color, $secondary-color);
}

.cart-item {
  padding-right: 10px;
  color: black;
  font-weight: bold;

  span {
    font-weight: bolder;
  }
}

.example-card {
  max-width: 400px;
  margin: 10px;

  span {
    font-weight: bolder;
  }
}

/* Global container */
.global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Cart items container */
.cart-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

/* Cart item card style */
.example-card {
  max-width: 400px;
  margin: 10px;
}

/* Shipping banner */
.shipping-banner {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;

  h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    color: #666;
    margin-bottom: 20px;
  }
}

/* Centered text */
.centered {
  text-align: center;
}

/* Button container */
.btn-valid {
  text-align: center;
  margin-top: 20px;
}

/* Media query for small screens */
@media (max-width: 767px) {
  .example-card {
    max-width: 90%;
  }
  .back {
    margin-top: 180px;
  }
}

.previous-orders-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  margin-top: 20px;

  h2 {
    text-align: center;
  }
}

.order {
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
}
