<button class="back" mat-raised-button color="primary" (click)="backToShop()">
  <mat-icon>keyboard_return</mat-icon>Back To Shop
</button>

<div class="content">
  <div class="container">
    <h1 class="title">About ColoShop</h1>
    <div class="paragraph">
      <p>
        ColoShop is an online marketplace that offers a wide range of products
        from various categories. We strive to provide our customers with
        high-quality products, competitive prices, and a seamless shopping
        experience.
      </p>
      <p>
        At ColoShop, we understand the importance of customer satisfaction.
        That's why we carefully curate our product selection, working with
        trusted suppliers and brands to ensure that every item meets our quality
        standards. Whether you're looking for fashion, electronics, home decor,
        or any other product, we've got you covered.
      </p>
      <p>
        Our user-friendly website allows you to browse and explore our extensive
        collection effortlessly. You can filter products based on your
        preferences, compare prices, and read reviews from other customers to
        make informed purchase decisions. We also provide secure payment options
        and reliable shipping services to ensure your orders reach you in a
        timely manner.
      </p>
      <p>
        Customer satisfaction is our top priority, and we strive to provide
        exceptional customer support. If you have any questions, concerns, or
        feedback, our dedicated support team is always ready to assist you. We
        value your trust and loyalty and aim to create a positive shopping
        experience for each and every customer.
      </p>
      <p>
        Thank you for choosing ColoShop as your preferred online marketplace. We
        look forward to serving you and fulfilling all your shopping needs.
      </p>
    </div>
  </div>
</div>
