/* 
.about-content {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .about-content h1 {
    color: #333;
  }
  
  .about-content p {
    color: #666;
    margin-bottom: 10px;
  }
   */


.content{
    margin-top: 100px;

}

   .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .paragraph {
    margin-bottom: 20px;
  }
  
  .carousal {
    margin-top: 40px;
  }
  
  /* Media queries for responsive layout */
  
  @media (max-width: 767px) {
    .container {
      padding: 0 10px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      padding: 0 20px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      padding: 0 30px;
    }
  }
  