$primary-color: #007bff;
$secondary-color: #00c6ff;

@mixin gradient-background($color1, $color2) {
  background: linear-gradient(45deg, $color1, $color2);
}

@mixin box-shadow($value) {
  box-shadow: $value;
}

.back {
  margin-top: 100px;
  margin-left: 10px;
  @include gradient-background($primary-color, $secondary-color);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 20px;

  background-color: #f8f8f8;
  @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.paragraph {
  margin-bottom: 20px;
}

.carousal {
  margin-top: 40px;
}

/* Media queries for responsive layout */

@media (max-width: 767px) {
  .container {
    padding: 10px 10px;
  }
  .back {
    margin-top: 180px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 20px 20px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 30px 30px;
    margin-bottom: 20px;
  }
}
